/*
FONT
    font-family: 'Laila', serif;                -- paragraphs
    font-family: 'Commissioner', sans-serif;    -- headings, lists and anywhere
*/
    
* {
    border: 0;
    margin: 0;
}
body {
    font-family: 'Commissioner', sans-serif;
    font-size: 0.7rem;
}
.wrapper {
    background-color: #fff;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 200px auto;
    grid-template-rows: 70px auto 70px;
    grid-gap: 5px;
}
.header {
    grid-column: span 2;
    text-align: center;
    background-color: #967e7e;
    padding: 10px;
}

.footer {
    grid-column: span 2;
    text-align: center;
    background-color: #dfbcb8;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    
}
.sidebar {
    padding: 10px;
}

.content {
    background-color: #e6e8e8;
    height: 100%;
    display: grid;
    grid-template-columns: 85% auto;
    grid-template-rows: 7.5% 85% 7.5%;
    /* padding: 10px; <- the gap between row 2 and 3 is invisible when it is enable*/ 
}

.note_menu {
    grid-column: span 2;
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
}
.lbl_message {
    color: #808080;
}
.note_text {
    margin: 10px;
}
.note_save {
    grid-column-start: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 10px;
    min-height: 20px;
}

textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    resize: none;
    border-radius: 10px;
    box-shadow: none;
    padding: 10px;
    outline: none;
}
button {
    box-sizing: border-box;
    min-width: 60px;
    border-radius: 5px;
    font-size: 0.7rem;
    text-decoration: none;
    padding: 2px 8px;
    box-shadow: none;
    color: #fff;
    margin: 0 5px 0 0;
    white-space: nowrap;
}
.btn_new, .btn_save {
    background-color: #5d987c;
}
.btn_theme {
    background-color: #696969;
}
.btn_cancel {
    background-color: #d43b15;
}
.footer_txt {
    align-self: center;
}
.icons {
    display: flex;
    justify-content: center;
}
.icon_1,.icon_2 {
    width: 24px;
    height: 24px;
}

li:hover, button:hover{
    background-color: #ed8d8d !important;
    cursor: pointer !important;
}

/* @media screen and (max-width:800px){
    h1 {
        font-size: 1.5rem;
    }
    .wrapper {
        grid-template-columns: 45px auto;
        grid-template-rows: 50px auto 55px;
    }
    .sidebar {
        padding: 3px;
    }
    ul {
        list-style-position: inside;
        list-style-type: '_____ ';
        padding-left: 3px;
    }
} */